Repository jordanpet/workHub: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --ext .ts --fix, npx eslint --ext .js --fix

.lintstagedrc.json:

{
  "*.ts": ["npx eslint --ext .ts --fix", "git add"],
  "*.js": ["npx eslint --ext .js --fix", "git add"]
}

Fix test and commit changes
  apps/auth/src/app/prisma/prisma.service.spec.ts
  apps/auth/src/app/users/user.resolver.spec.ts
  libs/pulsar/jest.config.ts
Due: npx eslint --ext .ts --fix

ci.yml updated
  .github/workflows/ci.yml
Due: none

Add Helm chart for workhub jobs deployment
  .github/workflows/ci.yml
  .prettierignore
  charts/workhub/.helmignore
  charts/workhub/Chart.yaml
  charts/workhub/templates/jobs/deployment.yaml
  charts/workhub/values.yaml
Due: none

Fix CI workflow and Docker ECR push
  .github/workflows/ci.yml
Due: none

file directory refactor and image deployed
  apps/auth/src/app/auth/auth.controller.ts
  apps/auth/src/app/auth/auth.module.ts
  apps/auth/src/app/prisma/prisma.service.ts
  apps/auth/src/main.ts
  apps/jobs/Dockerfile
  apps/jobs/src/app/job.module.ts
  charts/workhub/Chart.yaml
  charts/workhub/templates/jobs/deployment.yaml
  charts/workhub/values.yaml
  libs/graphql/src/lib/guards/gql-auth.guard.ts
  libs/grpc/project.json
  libs/grpc/src/index.ts
  libs/grpc/tsconfig.lib.json
  libs/grpc/tsconfig.spec.json
  libs/grpc/webpack.config.js
  libs/pulsar/webpack.config.js
  libs/tsconfig.lib.json
  libs/tsconfig.spec.json
  package.json
  tsconfig.base.json
Due: npx eslint --ext .ts --fix, npx eslint --ext .js --fix

dockerize and deployment process
  .gitignore
  apps/auth/.env
  apps/auth/Dockerfile
  apps/auth/prisma/schema.prisma
  apps/auth/src/main.ts
  apps/executor/deployment.yaml
  apps/jobs/.env
  apps/jobs/src/app/job.module.ts
  charts/workhub/Chart.lock
  charts/workhub/Chart.yaml
  charts/workhub/charts/postgresql-16.7.26.tgz
  charts/workhub/charts/pulsar-4.1.0.tgz
  charts/workhub/templates/auth/deployment.yaml
  charts/workhub/templates/auth/service-grpc.yaml
  charts/workhub/templates/auth/service-http.yaml
  charts/workhub/templates/common.tpl
  charts/workhub/templates/executor/deployment.yaml
  charts/workhub/templates/jobs/service.yaml
  charts/workhub/values.yaml
  charts/workhub/vm-crds-values.yaml
  operator-and-crds.yaml
  scripts/fibonacci.mjs
  workhub-clean.json
  workhub.json
Due: npx eslint --ext .ts --fix

binary target fix
  apps/auth/prisma/schema.prisma
Due: none

configure product app, product db with category table
  .github/workflows/ci.yml
  apps/auth/Dockerfile
  apps/executor/.env
  apps/executor/src/app/job/jobs.module.ts
  apps/executor/src/app/job/products/load-products.consumer.ts
  apps/executor/src/app/job/products/load-products.module.ts
  apps/products/Dockerfile
  apps/products/drizzle/0000_lowly_goblin_queen.sql
  apps/products/drizzle/0000_pale_robin_chapel.sql
  apps/products/drizzle/0001_seed-categories.sql
  apps/products/drizzle/meta/0001_snapshot.json
  apps/products/drizzle/meta/_journal.json
  apps/products/src/app/categories/categories.module.ts
  apps/products/src/app/categories/categories.service.ts
  apps/products/src/app/categories/schema.ts
  apps/products/src/app/database/database.module.ts
  apps/products/src/app/products/product.module.ts
  apps/products/src/app/products/products.service.ts
  apps/products/webpack.config.js
  libs/pulsar/src/lib/messages/load-product.message.ts
Due: npx eslint --ext .ts --fix, npx eslint --ext .js --fix

product deployment and docker build
  apps/jobs/src/app/uploads/upload.ts
  apps/products/Dockerfile
  apps/products/package.json
  charts/workhub/templates/common.tpl
  charts/workhub/templates/executor/deployment.yaml
  charts/workhub/templates/jobs/deployment.yaml
  charts/workhub/templates/jobs/pvc.yaml
  charts/workhub/templates/products/deployment.yaml
  charts/workhub/templates/products/service.yaml
  charts/workhub/values.yaml
  package-lock.json
Due: npx eslint --ext .ts --fix

code refector and deployment and service yaml refactor
  apps/executor/.env
  apps/executor/src/app/job/fibonacci/fibonacci.consumer.ts
  apps/executor/src/app/job/job-clients.module.ts
  apps/executor/src/app/job/job.consumer.ts
  apps/executor/src/app/job/jobs.module.ts
  apps/executor/src/app/job/products/load-products.consumer.ts
  apps/executor/src/app/job/products/load-products.module.ts
  apps/jobs/.env
  apps/jobs/Dockerfile
  apps/jobs/prisma/migrations/20250829010136_jobs/migration.sql
  apps/jobs/prisma/migrations/migration_lock.toml
  apps/jobs/prisma/schema.prisma
  apps/jobs/project.json
  apps/jobs/src/app/app.module.ts
  apps/jobs/src/app/job.controller.ts
  apps/jobs/src/app/job.module.ts
  apps/jobs/src/app/job.resolver.ts
  apps/jobs/src/app/job.service.ts
  apps/jobs/src/app/jobs/abstract.job.ts
  apps/jobs/src/app/jobs/fibonacci/fibonacci.job.ts
  apps/jobs/src/app/jobs/products/load-products.job.ts
  apps/jobs/src/app/models/job-metadata.model.ts
  apps/jobs/src/app/models/job-status.enum.ts
  apps/jobs/src/app/models/job.model.ts
  apps/jobs/src/app/prisma/prisma.module.ts
  apps/jobs/src/app/prisma/prisma.service.ts
  apps/jobs/src/main.ts
  charts/workhub/templates/executor/deployment.yaml
  charts/workhub/templates/jobs/deployment.yaml
  charts/workhub/templates/jobs/service-grpc.yaml
  charts/workhub/templates/jobs/service-http.yaml
  charts/workhub/values.yaml
  libs/grpc/src/index.ts
  libs/grpc/src/lib/proto/jobs.proto
  libs/grpc/src/lib/types/packages.ts
  libs/grpc/src/lib/types/proto/jobs.ts
  libs/pulsar/src/lib/messages/fibonacci.message.ts
  libs/pulsar/src/lib/messages/job.message.ts
  libs/pulsar/src/lib/messages/load-product.message.ts
Due: npx eslint --ext .ts --fix

refactor deployment code and configure ingress
  apps/auth/src/app/app.module.ts
  apps/auth/src/app/auth/auth.service.ts
  apps/auth/src/main.ts
  apps/executor/src/main.ts
  apps/jobs/src/app/app.module.ts
  apps/jobs/src/main.ts
  apps/products/src/main.ts
  charts/workhub/templates/auth/deployment.yaml
  charts/workhub/templates/ingress.yaml
  charts/workhub/templates/jobs/pvc.yaml
  charts/workhub/templates/storage-class.yaml
  charts/workhub/values-aws.yaml
  charts/workhub/values.yaml
  libs/nestjs/src/lib/init.ts
Due: npx eslint --ext .ts --fix

configure debugging
  .github/workflows/ci.yml
  .vscode/launch.json
  apps/auth/src/app/app.module.ts
  apps/executor/project.json
  apps/jobs/project.json
  apps/products/project.json
  libs/nestjs/src/lib/init.ts
  webpack.app.config.js
  webpack.lib.config.js
Due: npx eslint --ext .ts --fix, npx eslint --ext .js --fix
